.menu {
  background-color: #f4f4f4;
  padding-top: 10px;
  margin-bottom: 20px;

  ul {
    margin: auto;
    display: flex;
    justify-content: space-evenly;

    li {
      list-style: none;
    }
  }
  a {
    color: #333;
    text-decoration: none;
  }
}
