.project {
  &-title {
  }
  &-description {
  }
  &-thumbnail {
    display: none;
    @media (min-width: 768px) {
      display: block;
    }
  }
  &-techList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &-item {
      width: 32%;
    }
  }
}
